#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.corgiBtn {
    margin: 5% auto;
    background-color: coral;
    color: white;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}
.top-container {
    align-content: center;
}

.corgiImg {
    margin: auto;
    padding: 10px;
    width: 75%;
    max-height: 750px;
    max-width: 100%;
    height: auto;
    display: block; 
}